<ul>
    <li><a href="https://user.tjhsst.edu/2021smedaram/">Home</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/game">Anagrams Home Page</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/game_instructions">Instructions</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/game_leaderboard">Leaderboard</a></li>
</ul>


{{!--https://www.npmjs.com/package/hbs--}}
{{!--https://handlebars.bootcss.com/partials.html--}}