<ul>
    <li><a href="https://user.tjhsst.edu/2021smedaram/">Home</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/mapHome">Map Home Page</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/mapDoc">Documentation</a></li>
    <li><a href="https://en.wikipedia.org/wiki/United_States_Senate">What is a senator?</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/mapImportance">Why should I know my senators?</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/mapFunFact">FunFacts</a></li>
</ul>