<ul>
    <li><a href="https://user.tjhsst.edu/2021smedaram/">Home</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/weatherform">Get the Weather!</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/funform">Predict Your Future</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/voting_form">Vote for Your Favorite Animal</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/mapHome">Senators Infographic</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/cookie_content">Guess Mystery Box</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/profile_home">ION Profile</a></li>
    <li><a href="https://user.tjhsst.edu/2021smedaram/house_home">Award House Points</a></li>
    {{!--<li><a href="https://user.tjhsst.edu/2021smedaram/animated_story">View Animated Story</a></li>--}}
    <li><a href="https://user.tjhsst.edu/2021smedaram/game">Anagrams</a></li>
</ul>


{{!--https://www.npmjs.com/package/hbs--}}
{{!--https://handlebars.bootcss.com/partials.html--}}