<div id="content-main">
    <h2 id="titul">{{message}}</h2>
    <p id="error_message1"></p>
    <p id="error_message2"></p>
    <form>
    <input class="inp" id="username" type="text" name="username"> <br>
    <input class="inp" id="password" type="text" name="password"> <br>
    <button class="inp" type="button" onclick="login()">Log in</button>
    </form>
</div>