<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookie Login/Logout</title>
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <style>
        body {
         font-family: 'Dekko';font-size: 22px;
        }
    </style>
  </head>
  <body>
    <div class="form_content" id="content-main">
        <h2 id="titul">{{message}}</h2>
        <p id="error_message1"></p>
        <p id="error_message2"></p>
        <form>
            <input class="inp" id="username" type="text" name="username"> <br>
            <input class="inp" id="password" type="text" name="password"> <br>
            <button class="inp" type="button" onclick="login()">Log in</button>
        </form>
    </div>
    
    <script type="text/javascript" src="client-js/cookielogin.js"></script>
    <script type="text/javascript" src="client-js/cookiecontent.js"></script>
    <script type="text/javascript" src="client-js/cookielogout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </body>
</html>