<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anagrams Leaderboard</title>
    <link href="./css/game.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <style>
        body {
         font-family: 'Dekko';font-size: 22px;
        }
    </style>
  </head>
  <body>
    {{!--need to add the oauth page and the start timer page--}}
    
    <h1 id="titul" class="need_white">Anagrams</h1>
    
    {{> game_nav_bar }}
    
    <div class="content need_white">
        <h4 class="indicator">{{message}}</h4>
        <table style="width:100%">
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Score</th>
              </tr>
            {{#each leaderboard}}
                <tr>
                    <td>{{this.user}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.score}}</td>
                </tr>
            {{/each}}
        </table>
        {{#if reset_perm}}
            <button type="button" onclick="reset()">Reset!</button>
        {{/if}}
    </div>
    <script type="text/javascript">
        function reset() {
            window.location.href= 'https://user.tjhsst.edu/2021smedaram/game_reset';
        }
    </script>
  </body>
</html>