<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anagrams Instructions</title>
    <link href="./css/game.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <style>
        body {
         font-family: 'Dekko';font-size: 22px;
        }
    </style>
  </head>
  <body>
    {{!--need to add the oauth page and the start timer page--}}
    
    <h1 id="titul" class="need_white">Anagrams</h1>
    
    {{> game_nav_bar }}
    
    <div class="content need_white">
        <p>Hello, {{username}}! Welcome to the Anagrams page. Here's how the game works.</p>
        <ol>
            <li>Go to the profile page or the game home page in order to log in through TJ ION. You must log in through ION to authenticate yourself and continue.</li>
            <li>You will see a 'start' page. Once you hit the 'start' button, have one minute to enter as many words as you can with the letters given. You may ONLY use the letters given, each only once, and then hit the submit word button</li>
            <li>After you submit a possible word, you will get one of four responses: the word has been accepeted and added to your list and tally as a valid letter combination, the word has been rejected as either not an anagram, not a word, or already part of your list. </li>
            <li>If you feel you've gotten an unfair combination of letters to choose from, you may refresh the page for a new combination of letters. Be aware that you will lose your current tally.  Tallies are only saved after the user has completed a game. Points are awarded based on the length of word (more letters, more points).</li>
            <li>Once you finish a game, you may view your results on the results page (see how you compare on the leaderboard) and/or try again. The leaderboard will always track your highest score.</li>
        </ol>
    </div>
  </body>
</html>