<!DOCTYPE html>
<html>
    <head>
        <title>Future Predicted</title>
        <link href="./css/madlibs.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        
        <div class="top-nav">
            <ul class="top-horizontal">
                <li class="top-menu lefty">Hello {{n}}</li>
                <li class="top-menu righty">{{housefortune}}</li>
            </ul>
        </div>
        
        <div class="content">
            <h3>Here is your zodiac fortune</h3>
            <p>{{zodiacfortune}}</p>
            <p>We will send you an email with your future soon ({{email}})</p>
        </div>
        
    </body>
</html>