<!DOCTYPE html>
<html>
<head>
    <title>More Information</title>
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
    <link rel="stylesheet" type="text/css" href="css/bodyStates.css">
</head>
<body>
    
    <h1>{{header}}</h1>
    <h2>{{subheader}}</h2>
    
    {{> map_nav_bar }}
    
    <p id="message">{{message}}</p>
</body>
</html>