<p>Thank you, {{n}} for making the choice to be a more informed citizen!</p>
<p>You are celebrated subscriber number {{subscriberC}}</p>
<p>We will send you our newsletter and an email to {{ema}} when you're state {{liState}} has upcoming elections.</p>
<p>Please use the infographic to know more about the country's senators!</p>
