<!DOCTYPE html>
<html>
    <head>
        <title>Choose Animal! Voting</title>
        <link href="./css/voting_form.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
        <style>
            body {
             font-family: 'Dekko';font-size: 22px;
            }
        </style>
    </head>
    <body>
        
        {{> nav_bar }}
        <div class="need_white">
            <h1 id="titul">Vote for your favorite animal</h1>
            <div class="content" id="content-main">
                <p id="message"></p>
                <form class="col1">
                    Name:<br>
                    <input id="n" type="text" name="n">
                    <br>
                    Email Address:
                    <input id="email" type="text" name="email">
                    <br>
                    What's your favorite animal?<br>
                    {{#each animals}}
                        <input type="radio" name=animal value={{this.v}} checked>{{this.opt}}<br>
                    {{/each}}
                    <br>
                    <button type="button" onclick="fetchFromServer()">Submit Vote</button>
                </form>
            </div>
            <img class="animated-gif" src={{image}}>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="client-js/voting_form.js"></script>
    </body>
</html>