<!DOCTYPE html>
<html>
    <head>
        <title>Weather Form</title>
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link rel="stylesheet" type="text/css" href="css/weather.css">
        <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
        <style>
            body {
             font-family: 'Dekko';font-size: 22px;
            }
        </style>
    </head>
    <body>
        
        {{> nav_bar }}
        
        <div class="need_white">
            <h2>Get Your Weather!</h2>
            <p>Example: lat=42.88 long=-78.88</p>
            <form action="getweather" method="get">
                Latitude:<br>
                <input type="text" name="lat">
                <br>
                Longitude:<br>
                <input type="text" name="long">
                <br>
                JSON: <br>
                <input type="radio" name=json value=yes>Yes<br>
                <input type="radio" name=json value=no checked>No<br>
                <br>
                <button type="submit">Click Here</button>
            </form>
        </div>
    </body>
</html>