
html { 
  background: url(../pics/capital_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.bg {*/
/*    background-image: url(../pics/capital_image.jpg);*/
/*}*/

.need_white {
    color: white;
    background-color: rgba(0,0,0,.5);
    /*background-color: black;*/
    text-align: right;
    padding:20px 47px;
    
}

.states {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    width: 85%;
    margin: auto;
}

.states svg path {
    fill: #AAA;
    transition: fill .4s ease-out; 
}
 

.states svg path:hover {
    fill:#FFF;
    stroke:black;
    pointer-events:all;
}

p {
    text-align: center;
}

.form_content {
    border: 3px solid yellow;
}

.inp {
    margin: 20px 0px;
}