
html { 
  background: url(../pics/boxbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.bg {*/
/*    background-image: url(../pics/boxbackground.jpg);*/
/*}*/

.need_white {
    color: white;
    background-color: rgba(0,0,0,.5);
    /*background-color: black;*/
    text-align: right;
    padding:20px 47px;
    
}

p {
    text-align: right;
}

.img {
    text-align: center;
    margin: 20px;
}

.form_content {
    border: 3px solid white;
}

/*.inp {*/
/*    margin: 20px 0px;*/
/*}*/