/*body {*/
/*  background-image: url(../pics/profile_bg.png);  */
/*}*/


html { 
  background: url(../pics/sunEarth.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*.bg {*/
/*    background-image: url(../pics/profile_bg.png);*/
/*}*/

.need_white {
    color: white;
    background-color: rgba(0,0,0,.7);
    /*background-color: black;*/
    text-align: right;
    padding:20px 47px;
    
}

h1 {
    font-size: 100px;
}

p {
    text-align: right;
}

ol {
    text-align: left;
}

.img {
    text-align: center;
    border: 3px solid white;
}

.form_content {
    border: 3px solid blue;
}

.info {
    border: 3px solid yellow;
}

.indicator {
    background-color: rgba(0,0,250,.5);
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}